.head-line {
  display: flex;
  justify-content: center;
  margin-top: 1em;
}
.head-line svg {
  width: 430px;
}
.menus {
  margin-top: 1em;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border-top: 1px solid #ebebeb;
  border-bottom: 4px double #000;
}
.menus button {
  border: none;
  background: none;
  margin: 5px;
}
.menus button:hover {
  background-color: beige;
}
.news-img-size {
  max-width: 100%;
  max-height: 250px;
}
.news {
  border-bottom: 2px solid #000;
  padding: 10px;
}

.sidenav {
  height: 100%;
  width: 0;
  background-color: burlywood;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.sidenav .closebtn {
  position: absolute;
  top: 10px;
  right: 25px;
  text-decoration: none;
  font-size: 36px;
  color: #000;
}
.side-menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.side-menu-list button {
  border: none;
  background: none;
  margin: 8px;
  width: 120px;
}
.sidenav button:hover {
  background-color: beige;
  border-radius: 3px;
}
.side-button {
  font-size: 30px;
  cursor: pointer;
  margin-left: 1em;
  visibility: hidden;
}
.icon-btn {
  margin-left: 1em;
  margin-right: 0.5em;
  cursor: pointer;
}
.search-btn {
  border: none;
  background: none;
  background-color: burlywood;
  border-radius: 5px;
  font-size: 18px;
  color: #fff;
}
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 1em;
}
.page-link {
  color: burlywood;
  border: 1px solid burlywood;
}
.page-link:hover {
  background-color: burlywood;
  color: #fff;
}
.page-item.active .page-link {
  color: #fff;
  background-color: burlywood;
  border-color: burlywood;
}

@media screen and (max-width:48rem){
  .side-button {
    visibility: visible;
  }
}